/****** Classification tasks color. ******/
table .female-style {
    background-color: #dc3545;
    color: #f8f9fa;
}
table .male-style {
    background-color: #0d6efd;
    color: #f8f9fa;
}
table .asian-style {
    background-color: #0d6efd;
    color: #f8f9fa;
}
table .black-style {
    background-color: #d50cff;
    color: #f8f9fa;
}
table .latino-style {
    background-color: #34eadc;
    color: #212529;
}
table .white-style {
    background-color: #dc3545;
    color: #f8f9fa;
}
table .low-style {
    background-color: #eea2fe;
    color: #212529;
}
table .medium-style {
    background-color: #d50cff;
    color: #f8f9fa;
}
table .high-style {
    background-color: #a009bf;
    color: #f8f9fa;
}

/****** Global Fonts. ******/
body {
    font-family: 'Noto Sans', sans-serif;
}
.text-justify {
    text-align: justify;
    text-justify: inter-word;
}

/****** Effects on gallery images. ******/
.hover-effect {
    width:100%;
    height:100%;
    float:left;
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
}
.hover-effect .overlay {
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
    top:0;
    left:0;
    opacity:0;
    background-color:rgba(0,0,0,0.5);
    -webkit-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out
}
.hover-effect img {
    display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
}
.hover-effect h2 {
    text-transform:uppercase;
    color:#fff;
    text-align:center;
    position:relative;
    font-size:17px;
    background:rgba(0,0,0,0.6);
    -webkit-transform:translatey(-100px);
    -ms-transform:translatey(-100px);
    transform:translatey(-100px);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    padding:10px;
}
.hover-effect a.info {
    text-decoration:none;
    display:inline-block;
    text-transform:uppercase;
    color:#fff;
    border:1px solid #fff;
    background-color:transparent;
    opacity:0;
    filter:alpha(opacity=0);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    margin:50px 0 0;
    padding:7px 14px;
}
.hover-effect a.info:hover {
    box-shadow:0 0 5px #fff;
}
.hover-effect:hover img {
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
}
.hover-effect:hover .overlay {
    opacity:1;
    filter:alpha(opacity=100);
}
.hover-effect:hover h2,.hover-effect:hover a.info {
    opacity:1;
    filter:alpha(opacity=100);
    -ms-transform:translatey(0);
    -webkit-transform:translatey(0);
    transform:translatey(0);
}
.hover-effect:hover a.info {
    -webkit-transition-delay:.2s;
    transition-delay:.2s;
}